@model IEnumerable<SharedLibrary.Models.BookModel>

@{
    ViewData["Title"] = "Book Index";
}



<p>
<<<<<<< Updated upstream
    <a asp-action="Create"><button class="btn btn-primary">Create Book</button></a>
=======
    <a asp-action="Create"><button class="btn btn-primary">Create</button></a>
>>>>>>> Stashed changes
</p>
<table id="myTable" class="table table-bordered table-hover table-sm">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th data-orderable="false"> Operations</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.BookId"> <button class="btn btn-primary">Edit</button></a> |
                    <a asp-action="Details" asp-route-id="@item.BookId"><button class="btn btn-warning">Details</button></a> |
                    <a asp-action="Delete" asp-route-id="@item.BookId"><button class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
